<div class="container d-flex justify-content-center align-items-center" >
  <div class="row">
    <div class="col-12 mt-5 mb-5 ">
      <h4 class="border-bottom pb-2">このサイトについて</h4>
      <h5>このサイトは位置情報を投稿するサイトです。</h5>
      <h5 class="mt-4">その日起きた出来事を地図上で確認したり、</h5>
      <h5 class="mt-4">自身で見知った出来事を投稿することができます。</h5>
      <h5 class="mt-4">また、過去の出来事を遡って確認することができます。</h5>
    </div>
    <div class="col-12 mb-3 mt-5">
      <h3 class="border-bottom pb-2">使い方</h3>
    </div>
    <div class="col-12 mb-5 mt-5">
      <h4 class="border-bottom pb-2">他のユーザーの投稿の見かた</h4>
      <h5>全ユーザーの投稿を閲覧は左上のロゴをクリックすることにより見ることができます。</h5>
      <h5 class="mt-4">地図上のマーカーをクリックすることにより、その投稿したユーザーと投稿の見出しを表示できます。</h5>
      <h5 class="mt-4">投稿は地図の下部にて一覧が確認できます。</h5>
      <h5 class="mt-4">各投稿のタイトルをクリックすることで詳細画面へ遷移できます。</h5>
    </div>
    <div class="col-12 mb-5 mt-5">
      <h4 class="border-bottom pb-2">投稿のやりかた</h4>
      <h5>ユーザーにアカウントにログイン状態で新規投稿画面に移動し</h5>
      <h5 class="mt-4">地図上の投稿したい場所にクリックすることによりマーカーを設置できます。</h5>
      <h5 class="mt-4">地図下部のタイトル（＊必須）と本文を入力し投稿ボタンを押下することで位置情報を含む情報を投稿頂けます。</h5>
    </div>
    <div class="col-12 mb-5 mt-5">
      <h4 class="border-bottom pb-2">投稿の編集・削除のやりかた</h4>
      <h5>投稿の詳細画面にて”編集・削除画面”ボタンをクリックすると削除編集画面へ遷移します。</h5>
    </div>
  </div>
</div>
