<div class="container d-flex justify-content-center align-items-center" style="height: 90vh;">
  <div class="row">
    <div class="col-12 mb-5">
      <h5>ようこそWorldNavigationへ！</h5>
      <h5 class="mt-4">このサイトは、位置情報投稿のECサイトになります。</h5>
      <h5 class="mt-4">アカウントがない方も記事の閲覧はできますが、記事の投稿にはログインが必要になります。</h5>
      <h5 class="mt-4">初めての方は、新規登録にてアカウントを作成して頂くか、ゲストログインにてログインして下さい。</h5>
      <h5 class="mt-4">詳しいサイトの使い方については”このサイトについて”をご覧下さい。</h5>
    </div>
  </div>
</div>
