<div class="container d-flex justify-content-center align-items-center" style="height: 90vh;">
  <div class="row">
    <div class="col-12 mb-5">
      <h5>このサイトは位置情報を投稿するサイトです。</h5>
      <h5 class="mt-4">その日起きた出来事を地図上で確認したり、</h5>
      <h5 class="mt-4">自身で見知った出来事を投稿することができます。</h5>
      <h5 class="mt-4">また、過去の出来事を遡って確認することができます。</h5>
    </div>
    <div class="col-10 mt-2 d-flex justify-content-center">
      <h5>投稿一覧ページへのリンク</h5>
    </div>
  </div>
</div>
