<div class="container d-flex justify-content-center align-items-center" style="height: 90vh;">
  <div class="row">
    <div class="col-12 mb-5">
      <h5>ようこそWorldNavigationへ！</h5>
      <h5 class="mt-4">このサイトは、位置情報投稿のECサイトになります。</h5>
      <h5 class="mt-4">アカウントがない方も記事の閲覧はできますが、</h5>
      <h5 class="mt-4">記事の投稿には会員登録が必要になります。</h5>
    </div>
    <div class="mt-5">
      <h5>地図機能実装予定</h5>
    </div>
  </div>
</div>
